---
layout: page
title: "Hi, I'm Nitin"
subtitle: Programmer / Sports Enthusiast / Extreme Traveller 
css: "/css/index.css"
meta-title: "Nitin Singh - Programmer with devil fruit power"
meta-description: "A computer science student with a B.TECH from IIITVADODARA and a programming enthusiast."
bigimg:
  - "/img/big-imgs/costa-rica-house.jpeg" : "Montezuma, Costa Rica (2018)"
  - "/img/big-imgs/california-surf3.jpeg" : "Montezuma, Costa Rica (2018)"
  - "/img/big-imgs/hawaii1.jpeg" : "Kauai, HI, USA (2018)"
  - "/img/big-imgs/hawaii2.jpeg" : "Kauai, HI, USA (2018)"
  - "/img/big-imgs/laos-pond2.jpeg" : "Luang Prabang, Laos (2018)"
  - "/img/big-imgs/laos-pond1.jpeg" : "Luang Prabang, Laos (2018)"
  - "/img/big-imgs/lavasa.JPG" : "Lavasa (2017)"
  - "/img/big-imgs/lavasa2.JPG" : "Lavasa (2017)"
  - "/img/big-imgs/lavasa3.JPG" : "Lavasa (2017)"
  - "/img/big-imgs/mb1.JPG" : "Mahabaleshwar (2017)"
  - "/img/big-imgs/mb2.jpg" : "Mahabaleshwar (2017)" 
  - "/img/big-imgs/mum.jpg" : "Mumbai (2016)"
  - "/img/big-imgs/mum2.jpg" : "Mumbai (2016)"
  - "/img/big-imgs/vietnam-beach.jpeg" : "Nha Trang, Vietnam (2013)"
  - "/img/big-imgs/vietnam-dunes2.jpeg" : "Hoi An, Vietnam (2013)"
  - "/img/big-imgs/vietnam-ricefield.jpeg" : "Sapa, Vietnam (2013)"
  - "/img/big-imgs/sri2.jpg" : "Srilanka , Colombo (2018)"
  - "/img/big-imgs/sri.jpg" : "Srilanka , Colombo (2018)"
  - "/img/big-imgs/sriind.jpg" : "Srilanka , Colombo (2018)"
  - "/img/big-imgs/sriindi.jpg" : "Srilanka , Colombo (2018)" 
  - "/img/big-imgs/srimarine.jpg" : "Srilanka, Colombo (2018)"
  - "/img/big-imgs/sribud.jpg" : "Srilanka , Colombo (2018)"
  - "/img/big-imgs/gur.jpg" : "Gurgaon (2018)"  
  - "/img/big-imgs/hawaii-turtles.jpg" : "Oahu, HI, USA (2016)"  
---

<div class="list-filters">
  <a href="/" class="list-filter filter-selected">All posts</a>
  <a href="/popular" class="list-filter">Most Popular</a>
  <a href="/tutorials" class="list-filter">Tutorials</a>
</div>

<div class="posts-list">
  {% for post in paginator.posts %}
  <article>
    <a class="post-preview" href="{{ post.url | prepend: site.baseurl }}">
	    <h2 class="post-title">{{ post.title }}</h2>
	
	    {% if post.subtitle %}
	    <h3 class="post-subtitle">
	      {{ post.subtitle }}
	    </h3>
	    {% endif %}
      <p class="post-meta">
        Posted on {{ post.date | date: "%B %-d, %Y" }}
      </p>

      <div class="post-entry">
        {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
        <span href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</span>
      </div>
    </a>  
   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
