@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('Inter-Regular.woff2?v=3.11') format('woff2');
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('Inter-Italic.woff2?v=3.11') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('Inter-Bold.woff2?v=3.11') format('woff2');
}
@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('Inter-BoldItalic.woff2?v=3.11') format('woff2');
}
