---
layout: default
---
<div class="section">
    <div class="columns">
        <div class="column is-8-desktop is-12-mobile">
            <div class="content">
                <h1 class="title is-size-2 is-family-secondary is-italic">Hey, I am Nitin</h1>
                <p>{{ site.description }}</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="content">
        <h2 class="title is-size-4 is-family-secondary is-italic">Recent blog posts</h2>
        <ul class="post-list">
            {% for post in site.posts limit: 10 %}
            <li>
                <span class="is-hidden-mobile is-family-monospace post-date">{{ post.date | date: "%b %d, %Y" }} : </span>
                <span><a href="{{ post.url | relative_url }}">{{ post.title }}</a></span>
            </li>
            {% endfor %}
        </ul>
        <p><a href="{{ '/blogs/' | relative_url }}">All blogs →</a></p>
    </div>
</div>
